name: Checkout my code

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-job-python:
    runs-on: ubuntu-latest

    container:
      image: python:3.12

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run python file
        run: python app.py
